<div class="login-wrapper" fxLayoutAlign="center center">
    <div class="card-header">
      <h1 class="card-title">Add New Kpi Session</h1>
    </div>
    <br>
    <mat-card class="box">
      <form
        [formGroup]="employeeForm"
        autocomplete="off"
        novalidate
        (ngSubmit)="updatepassword()"
        fxLayout="column wrap"
        fxLayoutAlign="center center"
       
      >
      
      <mat-dialog-content>
        <mat-form-field>
            <input
              id="mysecretpassword"
              type="password"
              formControlName="password"
              placeholder="Old Password"
              matInput
              showHideInput
            />
            <i
              matSuffix
              class="material-icons"
              showHideTrigger="mysecretpassword"
              [showHideStatus]="{
                materialIcon: true,
                id: 'mysecretpassword'
              }"
            ></i>
            <mat-hint align="end"
              >Password should be min 6 characters</mat-hint
            >
            <mat-error *ngIf="hasError('password', 'required')"
              >password is required</mat-error
            >
            <mat-error *ngIf="hasError('password', 'maxlength')"
              >You have more than 100 characters</mat-error
            >
            <mat-error *ngIf="hasError('password', 'minlength')"
              >Password should be min 6 characters</mat-error
            >
          </mat-form-field>
        <mat-form-field>
            <input
              id="mysecretpassword"
              type="password"
              formControlName="newPassword"
              placeholder="New Password"
              matInput
              showHideInput
            />
            <i
              matSuffix
              class="material-icons"
              showHideTrigger="mysecretpassword"
              [showHideStatus]="{
                materialIcon: true,
                id: 'mysecretpassword'
              }"
            ></i>
            <mat-hint align="end"
              >Password should be min 6 characters</mat-hint
            >
            <mat-error *ngIf="hasError('newPassword', 'required')"
              >password is required</mat-error
            >
            <mat-error *ngIf="hasError('newPassword', 'maxlength')"
              >You have more than 100 characters</mat-error
            >
            <mat-error *ngIf="hasError('newPassword', 'minlength')"
              >Password should be min 6 characters</mat-error
            >
          </mat-form-field>

      </mat-dialog-content>
      <br>
        <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!employeeForm.valid">Submit</button>
    <button type="button" mat-raised-button color="warn" (click)="close()">Cancel</button>
  </mat-card-actions>
  </form>
  </mat-card>
  </div>
  