<div class="container">
<br>
<br>
<div class="col-md-12 example">
    <div class="card hover-shadow mb-20" *ngFor="let employee of employees">
        <div class="media card-body">
            <div class="media-left pr-12">
                <img class="avatar avatar-xl no-radius" [src]="employee.image || 'https://bootdey.com/img/Content/avatar/avatar1.png'" alt="...">
            </div>
            <div class="media-body">
                <div class="mb-2">
                    <span class="fs-20 pr-16">{{employee.f_name}} {{employee.l_name}}</span>
                </div>
                <small class="fs-16 fw-300 ls-1">{{employee.desig}}</small>
            </div>
        </div>
        <footer class="card-footer flexbox align-items-center">
            <div>
                <strong>Joining on: </strong>
                <span>{{employee.doj}}</span>
            </div>
            <div class="card-hover-show">
                <a class="btn btn-xs fs-10 btn-bold btn-info" (click)="redirectToEmployeeKpiDetails(employee.id)">Details</a>
                <button class="btn btn-xs fs-10 btn-bold btn-primary hideKpiBtn"
                [class.showKpiBtn]="showKPIBtn" [disabled]="isActive()" [disabled]="isSubmitted()" (click)="openUpdateDialog(employee.id)">Add Kpi</button>
                <button class="btn btn-xs fs-10 btn-bold btn-info"  (click)="openKpiDetailsDialog(employee.id)">Kpi Details</button>
              
            </div>
        </footer>
       
    </div>
    

  
</div>
</div>